* {
  font-family: sans-serif;
}

body {
  /* max-width: 50%; */
  margin: 0 auto;
  background-color: black;
}
input {
  border-radius: 25px;
  outline: none;
  height: 25px;
}
button {
  width: 30%;
  padding: 10px;
  background: whitesmoke;
  border-radius: 25px;
  font-weight: 600;
  outline: none;
}
a {
  margin-left: 40px;
  color: white;
  text-decoration: none;
}
a:hover {
  background-color: royalblue;
}
.heading-div {
}
.home-content {
  width: 50%;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
  /* border: 1px solid royalblue; */
}

form {
  width: 40%;
  height: 30%;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
  font-family: cursive;
}
.input-box {
  width: 100%;
  display: inline-block;
  background-color: greenyellow;
  border: 1px solid white;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
}
.top {
  display: flex;
  justify-content: space-between;
}
.margin span {
  margin-left: 50px;
  margin-right: 50px;
}
.center {
  text-align: center;
  margin: 20px;
}
.bottom {
  display: flex;
  justify-content: space-between;
  background-color: greenyellow;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
}
.pto {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
